*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.menu{
  display: flex;
  gap: 0;
  font-size: 18px;
  justify-content: center;
}

header{
  padding: 30px;
  background-color: rgb(15, 15, 15);
  text-align: center;
  font-size: 35px;
}
.hfont{
    color: #ddd;
    font-family: 'Helvetica Neue';
}

p{
  text-align: justify;
}

body{
  font-family: 'Franklin Gothic Medium', sans-serif;
  background-position: 15px;
}

li{
  list-style: none;
}

section{
  float: right;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  float: right;
  width: 50px;
  height: 50px;
}

.imglogo{
  width: 7vh;
}

.navbar{
  overflow: hidden;
  background-color: rgb(202, 144, 69);
}

.navbar a{
  float: left;
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown{
  float:left;
  overflow: hidden;
}


.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    color: whitesmoke;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: red;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: blanchedalmond;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(red, green, blue, alpha);
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}
aside {
    height: 100vh; 
    width: 140px;
    position: fixed; 
    top: 0; 
    right: 0;
    background-color: red;
    overflow-x: hidden;
    padding-top: 20px;
}

.display{
    display: flex;
    background: url("7801201.jpg") no-repeat;
    flex-direction: column;
    
}
.contentitle{
    color: rgb(180, 99, 99);
    font-family: sans-serif;
    padding-right: 850px;
    font-size: 4em;
}
.content{
    color: rgb(235, 188, 188);
    font-family: 'sans-serif';
    padding-left: 30px;
    padding-right: 960px;
    font-size: xx-large;
}
footer {
    color: #ddd;
    background-color: rgb(202, 144, 69);
    overflow: hidden;
    text-align: center;
    padding: 30px
}
.sidebar{
  border: 3 px solid black;
  padding: 15px;
  background-color: white;
}
.sidebar{
  width: 25%;
  height: 150vh;
}